In [19]:
lst = []
print(type(lst))

<class 'list'>

In [20]:
mylist=['hello','my','name','is','deepesh']
print(mylist)

['hello', 'my', 'name', 'is', 'deepesh']

In [21]:
## acessing elements
my = ['banana','apple','orange','mango']
print(my[0])

banana

In [22]:
print(my[1:3])

['apple', 'orange']

In [23]:
## modify list
my[1] = 'watermelon'
print(my)

['banana', 'watermelon', 'orange', 'mango']

In [24]:
## list method
my.append('peach')

In [25]:
my.append('banana')

In [26]:
my.insert(1,'tango')

In [27]:
my

['banana', 'tango', 'watermelon', 'orange', 'mango', 'peach', 'banana']

In [28]:
my.remove('banana')## removing first occurance of an item

In [29]:
my

['tango', 'watermelon', 'orange', 'mango', 'peach', 'banana']

In [31]:
## remove and return the last element
popped_fruits = my.pop()

In [32]:
popped_fruits

'banana'

In [33]:
my.index('tango')

0

In [34]:
my.insert(2,'banana')

In [35]:
my.count('banana')

1

In [36]:
my

['tango', 'watermelon', 'banana', 'orange', 'mango', 'peach']

In [37]:
my.insert(3,'banana')

In [38]:
my.count('banana')

2

In [39]:
my.sort()

In [40]:
my## in ascending order

['banana', 'banana', 'mango', 'orange', 'peach', 'tango', 'watermelon']

In [41]:
my.reverse()

In [42]:
my

['watermelon', 'tango', 'peach', 'orange', 'mango', 'banana', 'banana']

In [43]:
my.clear()

In [44]:
my

[]

In [ ]:
## slicing list

In [47]:
numbers = [1,2,3,4,5,6,7,8]
print(numbers[1:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])## step size jump to 2
print(numbers[::-1])## reverse
print(numbers[::-2])## reverse and jump

[2, 3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8]
[1, 3, 5, 7]
[8, 7, 6, 5, 4, 3, 2, 1]
[8, 6, 4, 2]

In [48]:
## iterating a list
fruits = ['banana','mango','apple','peach','melon']
for fruit in fruits:
    print(fruit)

banana
mango
apple
peach
melon

In [52]:
for index,fruit in enumerate(fruits):
    print(index,fruit)

0 banana
1 mango
2 apple
3 peach
4 melon

In [53]:
##list comprehenstion
lists=[]
for x in range(0,10):
    lists.append(x**2)
print(lists)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [55]:
##basic comphrehension
sqaure = [i**2 for i in range(10)]

In [57]:
sqaure

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [58]:
## with condition with comrehension
my1=[]
for i in range(10):
    if i%2==0:
        my1.append(i)
print(my1)

[0, 2, 4, 6, 8]

In [63]:
## with comprehension
my2 = [i for i in range(10) if i%2==0 ]

In [64]:
my2

[0, 2, 4, 6, 8]

In [65]:
## nested list comrephension
list1=[1,2,3,4]
list2=['a','b','c','d']
pair = [[i,j] for i in list1 for j in list2]

In [66]:
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

Conclusion

List comprehesion is powerful and concise to create list in python.They syntactically compact and can replace more verbose looping constructs.Understanding list comprehension will give you more cleaner and more effcient Python code