Sets:

Are a built in data type in python used to store collections of unique items. They are unsorted , meaning that the elements do not follow a specific order, and they do not allow duplicate values. sets are usful for membership test,eliminating duplicate entries and performing mathematicalset operationslike union, intersection,difference and symmetric difference

In [1]:
myset = {1,2,3,4,4,4,5}
print(myset)

{1, 2, 3, 4, 5}

In [2]:
print(type(myset))

<class 'set'>

In [3]:
## basic set operations
## adding and removing element
myset.add(55)

In [4]:
print(myset)

{1, 2, 3, 4, 5, 55}

In [5]:
myset.remove(55)

In [6]:
myset

{1, 2, 3, 4, 5}

In [7]:
## if we remove element not in set 
myset.remove(99)

KeyError: 99

In [8]:
# we got error but if we dont want error and if element is present remove or dont get any error
myset.discard(99)

In [9]:
##no error because discard will check if there is element if not it will just run

In [10]:
## pop method
popped=myset.pop()
print(popped)

1

In [11]:
## clear all elements
myset.clear()

In [12]:
myset

set()

In [14]:
## membership test
myset={1,2,3,4,5}
print(2 in myset)
print(10 in myset)

True
False

In [16]:
## mathematical operations
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
##union 
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
# intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

{4, 5, 6}

In [19]:
## intersection update
set1.intersection_update(set2)

In [20]:
print(set1)

{4, 5, 6}

In [21]:
# difference
set1={1,2,4,5,6}

In [22]:
set2

{4, 5, 6, 7, 8, 9}

In [23]:
set1

{1, 2, 4, 5, 6}

In [24]:
print(set1.difference(set2))

{1, 2}

In [25]:
## update will update and save in set 1

In [27]:
## symmetric difference unique element combined
set1.symmetric_difference(set2)

{1, 2, 7, 8, 9}